* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(180deg, rgba(97, 96, 96, 0.16) 0%, rgba(6, 6, 6, 0.2) 58.2%), #121212;
}

body aside {
  width: 18%;
  height: 796px;
  background-color: #000000;
  flex-shrink: 0;
  padding: 10px;
}

body aside .logo {
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

body aside .logo svg {
  width: 53px;
  height: 49px;
  margin-left: 15px;
}

body aside .logo a {
  width: 118px;
  height: 37px;
  color: #EAEAEA;
  /* Display/Bold/32 */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

body aside .aside-links {
  margin-bottom: 150px;
}

body aside .aside-links ul li {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 12px;
}

body aside .aside-links ul li:hover a {
  color: #1DB954;
}

body aside .aside-links ul li a {
  color: #FFF;
  transition: 0.7s;
  /* Text/Bold/14 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}

body aside .guidlines {
  display: flex;
  width: auto;
  height: auto;
  align-items: start;
  margin-left: 15px;
  margin-top: 200px;
}

body aside .guidlines .guidlines-left {
  height: auto;
  flex: 1 0 0;
}

body aside .guidlines .guidlines-left li {
  margin-bottom: 20px;
}

body aside .guidlines .guidlines-left li a {
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #919191;
}

body aside .guidlines .guidlines-right {
  height: auto;
  flex: 1 0 0;
}

body aside .guidlines .guidlines-right li {
  margin-bottom: 20px;
}

body aside .guidlines .guidlines-right li a {
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #919191;
}

body aside .languagebutton {
  display: inline-block;
  margin-left: 14px;
}

body main {
  width: 82%;
}

body main header {
  padding: 20px;
  width: 100%;
  height: 60px;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body main header .arrows {
  width: 10%;
}

body main header .arrows svg {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

body main header .buttons {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

body main header .buttons .signup {
  padding: 12px 16px;
  text-align: center;
  border-radius: 28px;
  color: #565656;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

body main header .buttons .login {
  padding: 12px 26px;
  text-align: center;
  border-radius: 28px;
  color: black;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: white;
}

body main .tracks-top {
  padding: 25px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body main .tracks-top h3 {
  display: inline-block;
  color: var(--Base-0, #EAEAEA);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

body main .tracks-top a {
  color: var(--Base-200, #AFAFAF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: 0.7s;
}

body main .tracks-top a:hover {
  color: white;
}

body main .all-tracks {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: space-between;
}

body main .all-tracks .track-box {
  width: 15.5%;
  padding: 12px;
  border-radius: 4px;
  background: var(--Base-800, #222);
}

body main .all-tracks .track-box .image {
  max-width: 100%;
  margin-bottom: 12px;
}

body main .all-tracks .track-box .image img {
  max-width: 100%;
}

body main .all-tracks .track-box .track-info .title {
  color: var(--Base-0, #EAEAEA);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

body main .all-tracks .track-box .track-info .description {
  overflow: hidden;
  color: var(--Base-200, #AFAFAF);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

body main footer {
  margin-top: 90px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

body main footer .links {
  width: 40%;
  display: flex;
}

body main footer .links ul {
  margin-right: 40px;
}

body main footer .links ul .main {
  color: var(--Base-0, #EAEAEA);
  /* Display/Bold/16 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

body main footer .links ul li {
  cursor: pointer;
  color: var(--Base-300, #919191);
  margin-bottom: 12px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.7s;
}

body main footer .links ul li:hover {
  color: #1DB954;
}

body main footer .socials {
  width: 192px;
  align-items: center;
  flex-shrink: 0;
}

body main footer .socials .social-item {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: inline-block;
  padding: 12px;
  border-radius: 48px;
  background: #343434;
  margin-left: 10px;
}

body main .copyright .seperator {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  height: 1px;
}

body main .copyright .rights {
  display: flex;
  width: 178px;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

body main .copyright .rights span {
  display: inline-block;
  color: var(--Base-200, #AFAFAF);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
