* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}



a {
    text-decoration: none;
}

ul {
    list-style: none;

}

body {
    display: flex;
    // width: 1920px;
    flex-wrap: wrap;
    width: 100%;
    // height: 1245px;
    background: linear-gradient(180deg, rgba(97, 96, 96, 0.16) 0%, rgba(6, 6, 6, 0.20) 58.2%), #121212;

    aside {

        width: 18%;
        height: 796px;
        background-color: #000000;
        flex-shrink: 0;
        padding: 10px;

        .logo {
            margin-bottom: 20px;
            display: inline-flex;
            align-items: center;
            gap: 12px;

            svg {
                width: 53px;
                height: 49px;
                margin-left: 15px;
            }

            a {
                width: 118px;
                height: 37px;
                color: #EAEAEA;
                /* Display/Bold/32 */
                font-family: Inter;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .aside-links {
            margin-bottom: 150px;

            ul {

                li {
                    display: flex;
                    padding: 12px;
                    align-items: center;
                    gap: 12px;

                    a {
                        color: #FFF;

                        /* Text/Bold/14 */
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px;
                        /* 142.857% */
                    }
                }
            }
        }

        .guidlines {
            display: flex;
            width: auto;
            height: auto;
            align-items: start;
            margin-left: 15px;
            margin-top: 200px;

            .guidlines-left {
                height: auto;
                flex: 1 0 0;

                li {
                    margin-bottom: 20px;

                    a {

                        font-family: Inter;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: #919191;
                    }
                }

            }

            .guidlines-right {
                height: auto;
                flex: 1 0 0;

                li {
                    margin-bottom: 20px;

                    a {

                        font-family: Inter;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: #919191;
                    }
                }

            }



        }

        .languagebutton{
            display: inline-block;
            margin-left: 14px;
        }
    }


    main {
        width: 82%;

        header {
            padding: 20px;
            width: 100%;
            height: 60px;
            background: #111;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .arrows {
                width: 10%;

                svg {
                    width: 28px;
                    height: 28px;
                    flex-shrink: 0;
                }
            }

            .buttons {
                display: flex;
                justify-content: flex-end;
                width: 90%;

                .signup {
                    padding: 12px 16px;
                    text-align: center;
                    border-radius: 28px;
                    color: #565656;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .login {
                    padding: 12px 26px;
                    text-align: center;
                    border-radius: 28px;
                    color: black;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    background-color: white;
                }
            }
        }

        .tracks-top {
            padding: 25px;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                display: inline-block;
                color: var(--Base-0, #EAEAEA);
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            a {
                color: var(--Base-200, #AFAFAF);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
            }
        }

        .all-tracks {
            padding: 20px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 14px;
            justify-content: space-between;

            .track-box {
                width: 15.5%;
                padding: 12px;
                border-radius: 4px;
                background: var(--Base-800, #222);

                .image {
                    max-width: 100%;
                    margin-bottom: 12px;

                    img {
                        max-width: 100%;
                    }

                }

                .track-info {
                    .title {
                        color: var(--Base-0, #EAEAEA);

                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px;
                    }

                    .description {
                        overflow: hidden;
                        color: var(--Base-200, #AFAFAF);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
        }

        footer {
            margin-top: 90px;
            padding: 20px;
            display: flex;
            justify-content: space-between;

            .links {
                width: 40%;
                display: flex;

                ul {
                    margin-right: 40px;

                    .main {
                        color: var(--Base-0, #EAEAEA);

                        /* Display/Bold/16 */
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    li {
                        color: var(--Base-300, #919191);
                        margin-bottom: 12px;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

            .socials {
                width: 192px;
                align-items: center;
                flex-shrink: 0;

                .social-item {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    display: inline-block;
                    padding: 12px;
                    border-radius: 48px;
                    background: #343434;
                    margin-left: 10px;
                }
            }


        }

        .copyright {
            .seperator {
                margin-top: 10px;
                margin-bottom: 10px;
                width: 100%;
                background-color: white;
                height: 1px;
            }

            .rights {
                display: flex;
                width: 178px;
                align-items: center;
                gap: 8px;
                padding: 20px;

                span {
                    display: inline-block;
                    color: var(--Base-200, #AFAFAF);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
    }
}